[submodule "firefox-bin"]
	path = firefox
	url = https://github.com/kiss-community/firefox-bin
  branch = main
[submodule "llvm-bin"]
	path = llvm
  url = https://github.com/kiss-community/llvm-bin
  branch = main
[submodule "pfetch"]
	path = pfetch
	url = https://github.com/kiss-community/pfetch-bin
	branch = main
[submodule "rust"]
	path = rust
	url = https://github.com/kiss-community/rust-bin
	branch = main
[submodule "gcc"]
	path = gcc
	url = https://github.com/kiss-community/gcc-bin
